:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Homepage {
  background-image: url(./assets/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  color:white;
  top:0;
  right:0;
  position: absolute;
  overflow: hidden;
}
.Homecontent{
  display:flex;
  align-items:center ;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.myCard{
  width:250px;
  height:300px;
  background-color: rgb(36, 36, 37);
  border-radius: 10px;
  line-height: 50%;
  z-index: 3;
}
.myCard:hover{
  scale: 1.02;
  transition: ease 0.5s;
  box-shadow: 0px 0px 10px 0px white;
}

.cardImage{
  width:100%;
  object-fit: cover;
  height: 50%;
  border-radius: 10px 10px 0 0;
  background-color: white;
}

button{
  width:40%;
  height:15%;
  border-radius: 10%;
  box-shadow: none;
  background-color: black;
  cursor:pointer;
}
button:hover{
  scale:0.9;
  transition: ease;
}